<div class="container">
  <h1>{{team.name}}</h1>

  <ul>
    {{#each player in players itemController="player"}}
      <li>{{player.name}}</li>
    {{/each}}
  </ul>

{{#link-to 'new-player' this class="btn btn-primary"}}New Player{{/link-to}}
</div>

{{outlet}}
