<div class="container">
  <h1>{{this.name}}</h1>

  <ul>
    {{#each player in players}}
      <li>{{#link-to 'player' player.id}}{{player.name}}{{/link-to}}</li>
    {{/each}}
  </ul>

  {{#link-to 'new-player' this class="btn btn-primary"}}New Player{{/link-to}}
</div>

{{outlet}}
